.box1{
    background-color: #aaa;
}
/* .box2{
        background:pink;
        width:100px;
        height:100px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
} */