body{
    background: linear-gradient(white,orange);
    height: 2000px;
    margin: 0;
    padding: 0;
}
div{
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    border: 1px solid gray;
    line-height: 100px;
}
/* top,bottom,left,right 속성이 적용이 안댐 */
.position-static{
    background-color: pink;
    position: static;
    top: 50px;
}
/* 일반적인 문서 흐름에 따라서 배치가 됨(자기 자리가 고정이 됨)
    자기 자신을 기준으로 배치(자기 자리는 있음) */
.position-relative{
    position: relative;
    background-color: aqua;
    left: 100px;
}
/* static 이 아닌 값을 갖는 제일 가까운 조상 기준으로 자리가 배치됨
    문서 흐름을 벗어남(자기 자리가 없어짐 갑) */
.position-absolute{
    position: absolute;
    background-color: gold;
    top: 0;
    right: 0;
    
}
/* viewport 기준으로 특정 위치에 배치 
    스크롤 되어도 움직이지 않음>header 제작시 많이 사용*/
.position-fixed{
    position: fixed;
    background-color: coral;
    top: 0;
}
.container{
    top: 100px;
    width: 500px;
    height: 300px;
    position: absolute;
}
.container2{
    width: 500px;
    height: 500px;
    position: relative;
}
.item1{
    position: relative;
    top:30px;
    left: 50px;

}
.item2{
    position: absolute;
    right: 30px;
    bottom: 100px;
}
.item3{
    position: fixed;
    right: 100px;
    top: 100px;
}
.container3{
    width: 400px;
    height: 300px;
    position: relative;
}
.container3 div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
}
.container3 div:nth-child(1){
    background-color: aqua;
    z-index: 2;
    
}
.container3 div:nth-child(2){
    background-color: goldenrod;
    left: 50px;
    z-index: 1;
}
.container3 div:nth-child(3){
    background-color: palevioletred;
    left: 100px;
}
.container4{
    width: 500px;
    height: 500px;
    position: relative;
}
.container4 div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.item4{
    background-color: orange;
    z-index: 3;
}
.item5{
    background-color: skyblue;
    top: 30px;
    left: 30px;
    z-index: 2;
}
.item6{
    background-color: blue;
    top: 60px;
    left: 60px;
    z-index: 1;
}