<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/users" method="post">
        <input type="text" name="username" placeholder="이름">
        <input type="email" name="email" placeholder="이메일">
        <button>가입</button>
    </form>
</body>
</html>